/*******************      GLOW          *********************/
.dt-spinner-glow {
    width: 100px;
    display: flex;
    padding: 5px;
}

.dt-spinner-glow div {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    background-color: black;
    border-radius: 50%;
}

.dt-spinner-glow div:nth-child(1) {
    animation: moveGlow 1.5s linear infinite;
}

.dt-spinner-glow div:nth-child(2) {
    animation: moveGlow 1.5s linear infinite;
    animation-delay: 3s;
}

.dt-spinner-glow div:nth-child(3) {
    animation: moveGlow 1.5s linear infinite;
    animation-delay: 5s;
}

/*******************      CIRCLE          *********************/
.dt-spinner-circle {
    border: 16px solid #3498db;
    border-top: 16px solid #f3f3f3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spinning 2s linear infinite;
}

/*******************      BASIC          *********************/
.dt-spinner-basic {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spinning 2s linear infinite;
}

/*******************      CLASSIC          *********************/
.dt-spinner-classic {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #3498db;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spinning 2s linear infinite;
}

/*******************      SQUARE          *********************/
.dt-spinner-square {
	background: #d6d2da;
    width: 50px;
	border-radius:10px;
    height: 50px;
    position: relative;
    padding: 20px;
}

.dt-spinner-square:after {
    content: "";
    width: 20px;
	border-radius:5px;
    height: 20px;
    background: #614f4f;
    position: absolute;
    animation: moveSquare 1s ease-in infinite;
}

.dt-spinner-square-inner {
	background: #ffffff;
    height: 100%;
}
/*******************      KEYFRAMES          *********************/
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveGlow {
    0% {
        opacity:  1
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveSquare {
    0% {
        top: 0%;
        left: 0%;
		bottom: unset;
		right: unset;
    }
	25% {
        top: 0%;
        left: unset;
		bottom: unset;
		right: 0%;
    }
    50% {
        top: unset;
        left: unset;
		bottom: 0%;
		right: 0%;
    }
	75% {
        top: unset;
        left: 0%;
		bottom: 0%;
		right: unset;
    }
	100% {
        top: 0%;
        left: 0%;
		bottom: unset;
		right: unset;
    }
    /* 75% {
        bottom: 0%;
        left: 0%;
    }  */ 

    

     
}