.dt-input {
    color: inherit;
    background-color: #fff;
    outline: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.dt-input::placeholder {
    font-style: italic;
    color: #a5a5a5;
}
.dt-input-wrapper {
    border: 2px solid;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dt-input-icon {
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 6px 0 0 6px;
    border-right: 2px solid;
}